body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4e8;
}

a {
  color: #1a1a1a;
  font-weight: 700;
  text-decoration: none;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #1a1a1a;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding: 0 auto;
  display: flex;
  margin: 30px 0;
}
::placeholder {
  color: #1a1a1a;
}

.ingredient {
  padding: 16px;
  border: 1px solid #1a1a1a;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  background-color: transparent;
}

.example {
  margin: 30px 10px;
  color: #1a1a1a;
  font-size: 16px;
}

.submit-button {
  margin-left: 5px;
  background-color: transparent;
  border-radius: 15px;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.recipe {
  font-size: 16px;
  padding: 20px;
  line-height: 2;
  border-radius: 15px;
  background-color: #f4f4e8;
  border: 1px solid #1a1a1a;
  color: #230802;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: #1a1a1a;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
