body {
  background-color: #feefe0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/140/760/original/leighann-blackwood-azGHoeRejbQ-unsplash.jpg?1724492408);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  color: #e7f62a;
  font-weight: 700;
  text-decoration: none;
}
.container {
  margin: 120px auto;
  max-width: 600px;
  color: #e7f62a;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: bolder;
  font-size: 80px;
  text-align: center;
  line-height: 1.5;
  color: #e7f62a;
  margin: 0 auto;
  font-family: "Prata", serif;
}

form {
  padding: 0 auto;
  display: flex;
  margin: 30px 0;
}
::placeholder {
  color: #e7f62a;
}
.ingredient {
  padding: 16px;
  border: 1px solid #e7f62a;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  color: #e7f62a;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  background-color: transparent;
}

.example {
  margin: 30px 10px;
  color: #e7f62a;
  font-size: 14px;
}

.submit-button {
  margin-left: 5px;
  background-color: transparent;
  border-radius: 15px;
  color: #e7f62a;
  border: 1px solid #e7f62a;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.recipe {
  font-size: 20px;
  padding: 20px;
  line-height: 2;
  border: 1px solid #e7f62a;
  border-radius: 15px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: #e7f62a;
}
